/* OPR Styles */
/* Remove Input Number Spinners For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Remove Input Number Spinners Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
label, 
input[type="file"]{
	cursor: pointer;
	font-weight: normal;
}
input[type="text"],
input[type="file"],
input[type="password"],
input[type="email"],
textarea,
select{
	width: 100%;
}
form#newProject input[name='district'],
input:read-only{
	background-color: #d6d6d6;
}
input[type="text"],input[type="number"]{
	margin: 0 0 5px
}
textarea{
	resize: none;
}
p i{
	color: red;
}
p span.indented{
  margin-left: -10px;
}
span.ca-gov-icon-check-mark {
    color: green;
}
.page-title{
	margin-bottom: 0;
}
.tenth{
	float:left;
	width: 10%;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
}
/* Navigation Menu Styles */
#nav_list {
    width: auto;
    float: right;
}
.singlelevel #nav_list.top-level-nav .nav-item {
		position: static;
    padding: 0 10px;
}
/* Action Menu Styles */
#accordion.actionList,
#accordion.actionList ul{
	padding-left: 0;
}
#accordion.actionList li,
#accordion.actionList ul li{
	list-style-type: none;
	padding: 5px;
}
#accordion.actionList > div.panel{
	margin-bottom: 0;
}
#accordion.actionList > li{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#accordion.actionList > li.tab{
	cursor: pointer;
}
#accordion.actionList > li.tab:after {
	content: "\45";
	font-family: 'CaGov';
	float: right;
}
#accordion.actionList > li.open.tab:after {
	content: "\43";
	font-family: 'CaGov';
	float: right;
}
/* Output Styles */
#output .full-width.submit{
	padding: 15px;
}
/* New Project Form Styles */

/* New Applicant Sign Up Form Styles */
#signup input[type="submit"]{
	margin-top: 25px
}
/* Address Panel Style */
#address .panel-body .group {
  padding-right: 15px;
}
#address .panel-body .group input {
  width: 75%;
}
#address .panel-body .group input[name='district'] {
    width: 70px;
		cursor: pointer;
    margin-left: 5px;
}
